<template>
  <v-container class="create-form">
    <v-row>
      <v-col class="d-flex justify-center">
        <v-card class="elevation-0 pt-5" :class="width < 960 ? 'w-100' : 'w-50'">

          <h1 class="text-h4">Создание нового товара</h1>

          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="title"
                :rules="titleRules"
                label="Название"
                type="text"
                variant="underlined"
                required>
              </v-text-field>

              <v-text-field
                v-model="price"
                :rules="priceRules"
                label="Цена"
                type="text"
                variant="underlined"
                required>
              </v-text-field>

              <v-textarea
                counter
                label="Описание товара"
                v-model="description"
                variant="underlined"
                :rules="descriptionRules">
              </v-textarea>

            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-btn
              class="px-5 mr-4"
              @click="uploadImage"
              variant="flat"
              color="warning"
              >
              Загрузить картинку
              <v-icon
                end
                icon="mdi-cloud-upload"
              ></v-icon>
            </v-btn>
            <input
              @change="onFileChange"
              ref="fileInput"
              type="file"
              style="display: none;"
              accept="image/*"
            >
          </v-card-actions>

        </v-card>
      </v-col>
    </v-row>

    <v-row v-if="imagePath">
      <v-col class="d-flex justify-center">
        <v-card class="elevation-0 pt-5" :class="width < 960 ? 'w-100' : 'w-50'">
          <img
            class="create-form__img-preview"
            :src="imagePath"
            alt="product">
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="d-flex justify-center">
        <v-card class="elevation-0 pt-5" :class="width < 960 ? 'w-100' : 'w-50'">
          <v-switch
            class="ml-5"
            color="primary"
            v-model="promo"
            hide-details
            :label="`Сделать по акции?`"
          ></v-switch>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="d-flex justify-center">
        <v-card class="elevation-0 pt-5" :class="width < 960 ? 'w-100' : 'w-50'">
          <v-btn
            variant="flat"
            color="success"
            class="mr-4"
            :disabled="!valid || !image || commonStore.loading"
            :loading="commonStore.loading"
            @click="submitForm">
            Создать
          </v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { useProductStore } from '@/store/products';
import { useCommonStore } from '@/store/common';

import { useDisplay } from 'vuetify';

export default {
  setup() {
    const productStore = useProductStore();
    const commonStore = useCommonStore();
    const { width } = useDisplay();

    return {
      productStore, commonStore, width
    }
  },
  data: () => ({
    valid: false,
    title: '',
    description: '',
    price: '',
    promo: false,
    image: null,
    imagePath: '',

    titleRules: [
      v => !!v || 'Title is required',
    ],
    descriptionRules: [
      v => !!v || 'Description is required',
      v => (v && v.length >= 8) || 'Description must have 8+ characters',
    ],
    priceRules: [
      v => !!v || 'Price is required',
    ],
  }),

  methods: {
    submitForm() {
      if (this.$refs.form.validate() && this.image) {
        const product = {
          title: this.title,
          description: this.description,
          price: this.price,
          promo: false,
          imagePath: this.image,
        }
        this.productStore.createProduct(product);
      }
    },
    uploadImage() { // обработчик на кнопку для input
      this.$refs.fileInput.click()
    },
    onFileChange(event) {
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = () => {
        this.imagePath = reader.result;
      }
      reader.readAsDataURL(file);
      this.image = file;
    }
  },
}
</script>

<style scoped>
.create-form__img-preview {
  height: 200px;
}
</style>
