<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      :max-width="'100%'"
    >
      <template v-slot:activator="{ props }">
        <v-btn class="w-100 px-5 mr-3" color="warning" variant="flat" rounded v-bind="props">Редактировать
          <v-icon end icon="mdi-pen"></v-icon>
        </v-btn>
      </template>

      <v-card width="auto">
          <v-card-title class="text-h6 text-md-h5 pt-8">
            Редактировать продукт
          </v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="editedTitle"
                label="Заголовок"
                type="text"
                variant="underlined"
                :rules="editedTitleRules"
                required>
              </v-text-field>

              <v-textarea
                counter
                label="Описание товара"
                v-model="editedDescription"
                variant="underlined"
                :rules="editedDescriptionRules"
                required
              ></v-textarea>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              variant="outlined"
              color="red-lighten-1"
              text-color="white"
              @click="onCancel"
              >Отменить
            </v-btn>
            <v-btn
              variant="flat"
              color="success"
              text-color="white"
              @click="onSave"
              >Сохранить
            </v-btn>
          </v-card-actions>

      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { useProductStore } from '@/store/products';

export default {
  props: ['product'],
  setup() {
    const productStore = useProductStore();

    return {
      productStore
    }
  },
  data() {
    return {
      valid: false,
      dialog: false,
      editedTitle: this.product.title,
      editedDescription: this.product.description,
      editedTitleRules: [
        v => !!v || 'Необходимо ввести название',
      ],
      editedDescriptionRules: [
        v => !!v || 'Необходимо ввести описание',
      ],
    }
  },
  methods: {
    onCancel() {
      this.editedTitle = this.product.title;
      this.editedDescription = this.product.description;
      this.dialog = false;
    },
    onSave() {
      if (this.editedTitle !== '' && this.editedDescription !== '') {
        this.productStore.updateProduct({
          id: this.$route.params.id,
          title: this.editedTitle,
          description: this.editedDescription
        })
        this.dialog = false
      }
    }
  }
}
</script>
