<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      :max-width="'100%'"
    >
      <template v-slot:activator="{ props }">
        <v-btn class="w-100 px-5 mr-3 text-white" color="green-lighten-1" variant="flat" rounded v-bind="props">Связаться
          <v-icon end icon="mdi-pen"></v-icon>
        </v-btn>
      </template>

      <v-card
        class="order-form px-3 py-3"
        width="auto"
      >

        <v-card-title class="order-form__title text-h5 pt-5 px-6">
          Оставьте заявку на услугу "{{ product.title }}"
        </v-card-title>

        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="order-form__subtitle mb-3">* Как к вам обращаться</div>
            <v-text-field
              v-model="personName"
              label="Имя"
              type="text"
              :rules="personNameRules"
              required
              variant="outlined"
            >
            </v-text-field>

            <div class="order-form__subtitle mb-3">* Контакты на соц.сеть или мессенджер</div>
            <v-text-field
              v-model="personSocial"
              label="Ссылка для связи с вами"
              type="text"
              :rules="personSocialRules"
              required
              variant="outlined"
            >
            </v-text-field>

            <div class="order-form__subtitle mb-3">Телефонный номер</div>
            <v-text-field
              v-model="personPhone"
              label="Номер для связи с вами"
              type="number"
              :rules="personPhoneRules"
              required
              variant="outlined"
            >
            </v-text-field>
            <v-checkbox
              v-model="personAgree"
              :rules="[v => !!v || 'Необходимо согласиться прежде чем продолжить!']"
              label="Я ознакомлен(а) с условиями политики в отношении обработки персональных данных и даю согласие на обработку персональных данных."
              required
            >
            </v-checkbox>
          </v-form>

          <v-card-subtitle class="text-center text-wrap mt-5">С вами свяжутся в течение дня!</v-card-subtitle>
        </v-card-text>

        <v-card-actions>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="6"
              lg="6"
              xl="6"
            >
              <v-btn
                class="w-100"
                variant="outlined"
                color="red-lighten-1"
                text-color="white"
                :disabled="localLoading"
                @click="onCancel"
                >Отменить
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                class="w-100"
                variant="flat"
                color="success"
                text-color="white"
                :disabled="!localLoading && !valid && !personAgree"
                :loading="localLoading"
                @click="checkForm"
                >Оставить заявку
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { useOrderStore } from '@/store/orders';

export default {
  props: ['product'],
  setup() {
    const orderStore = useOrderStore();

    return {
      orderStore
    }
  },
  data() {
    return {
      valid: false,
      dialog: false,
      personName: '',
      personPhone: '',
      personSocial: '',
      personAgree: false,
      localLoading: false,
      personNameRules: [
        v => !!v || 'Необходимо ввести имя',
      ],
      personSocialRules: [
        v => !!v || 'Необходимо оставить ссылку для связи ',
      ],
      personPhoneRules: [
        v => /^\d+$/.test(v) || 'Необхоидимо вводить цифры',
        v => (v && v.length <= 11) || 'Номер не может быть больше 11 символов',
      ]
    }
  },
  methods: {
    onCancel() {
      this.personName = '';
      this.personPhone = '';
      this.dialog = false;
    },
    async checkForm() {
      this.localLoading = true;
      const result = await this.$refs.form.validate();
      if (result.valid && this.personAgree) {
        this.makeOrder();
      }
      this.localLoading = false;
    },
    makeOrder() {
      this.orderStore.createOrder({
        productId: this.product.id,
        personName: this.personName,
        personPhone: this.personPhone,
      })
        .then(() => {
          this.dialog = false;
        })
        .finally(() => {
          this.personName = '';
          this.personPhone = '';
        })
    }
  }
}
</script>

<style scoped>
.order-form__title {
  white-space: normal;
}
@media screen and (max-width: 1270px) {

}
@media screen and (max-width: 620px) {
}
</style>
