<template>
  <div v-if="!commonStore.loading">
    <v-container class="d-flex justify-center mt-7">
      <v-card
        class="product-card"
        width="100%">
        <v-row>
          <v-col
            cols="12"
            sm="12"
            md="6"
            lg="6"
            xl="6"
          >
            <v-img class="h-100" :src="productStore.currentProduct.imagePath" cover></v-img>
          </v-col>

          <v-col
            cols="12"
            sm="12"
            md="6"
            lg="6"
            xl="6"
          >
            <v-card-title class="text-h4 text-wrap mt-5 mb-7">
              {{ productStore.currentProduct.title }}
            </v-card-title>
            <v-card-text>
              <div class="text-h6 text-md-h5">Описание:</div>
              {{ productStore.currentProduct.description }}
            </v-card-text>
            <v-card-text class="text-h6 text-md-h5">
              Цена: {{ productStore.currentProduct.price }} &#8381;
            </v-card-text>
          </v-col>

        </v-row>
        <v-row>
          <v-col>
            <v-card-actions class="d-block d-sm-flex justify-sm-end mt-5 mb-3">

              <EditForm
                v-if="isUserAdmin"
                :product="productStore.currentProduct"
              />

              <MakeOrderDialog
                class="pl-2 mt-4 mt-sm-0"
                :product="productStore.currentProduct"
              />

            </v-card-actions>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </div>
  <div v-else>
    <v-container>
      <v-row class="pt-5">
        <v-col class="d-flex justify-center">
          <v-progress-circular :size="100" :width="7" color="primary" indeterminate></v-progress-circular>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts" setup>
import EditForm from '@/components/products/EditForm.vue'
import MakeOrderDialog from '@/components/products/MakeOrderDialog.vue'

import { ref, computed } from 'vue';
import { useRoute } from 'vue-router';

import { useProductStore } from '@/store/products';
import { useCommonStore } from '@/store/common';
import { useUserStore } from '@/store/user';

const productStore = useProductStore();
const commonStore = useCommonStore();
const userStore = useUserStore();

const route = useRoute();

productStore.fetchOneProduct(route.params.id);

const isUserAdmin = computed(() => userStore.user.id === 'fv7xaS8Ny5cWjCq4O3urmRlG3Ut2');

</script>
