<template>
  <v-container>
    <v-row class="flex-column" v-if="!commonStore.loading && productStore.products.length !== 0">
      <v-col
        v-for="product in productStore.products"
        :key="product.id"
      >
        <v-card class="w-100 elevation-10">
          <v-row>

            <v-col
              cols="12"
              sm="12"
              md="6"
              lg="6"
              xl="6"
            >
              <v-img
                :src="product.imagePath"
                height="100%"
                cover
              ></v-img>
            </v-col>

            <v-col
              cols="12"
              sm="12"
              md="6"
              lg="6"
              xl="6"
            >
              <div class="d-flex justify-space-between flex-column h-100">
                <div class="d-flex justify-space-between flex-column h-100">
                  <div class="flex-grow-1 flex-shrink-1 flex-basis-auto">
                    <v-card-title class="text-h5 text-md-h4 text-wrap mt-5 mb-3">
                      {{ product.title }}
                    </v-card-title>

                    <v-card-text>
                      <div class="text-h6 text-md-h5">Описание:</div>
                      {{ product.description }}
                    </v-card-text>

                    <v-card-text>
                      <v-badge
                        color="info"
                        :content="`От ${product.price} &#8381;`"
                        inline
                      ></v-badge>
                    </v-card-text>
                  </div>

                  <div>
                    <v-card-actions class="mt-5 mb-3">
                      <v-spacer></v-spacer>
                      <v-btn
                        class="px-5"
                        color="primary"
                        variant="flat"
                        rounded
                        :to="'/product/' + product.id"
                        >
                        Подробнее
                        <v-icon
                          end
                          icon="mdi-open-in-new"
                        ></v-icon>
                      </v-btn>
                    </v-card-actions>
                  </div>
              </div>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else-if="!commonStore.loading && productStore.products.length === 0">
      <v-col>
        <h1 class="text-h3 text-black mb-3">На данный момент нет никаких продуктов</h1>
      </v-col>
    </v-row>
    <v-row
      v-else
      class="pt-5">
        <v-col class="d-flex justify-center">
          <v-progress-circular :size="100" :width="7" color="primary" indeterminate></v-progress-circular>
        </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useProductStore } from '@/store/products';
import { useCommonStore } from '@/store/common';

const productStore = useProductStore();
const commonStore = useCommonStore();

</script>
