<template>
  <v-container>

    <v-row class="pt-5" v-if="commonStore.loading">
      <v-col class="d-flex justify-center">
        <v-progress-circular :size="100" :width="7" color="primary" indeterminate></v-progress-circular>
      </v-col>
    </v-row>

    <v-row v-else-if="!commonStore.loading && orderStore.orders.length !== 0">
      <v-col class="d-flex justify-center">

        <v-list class="w-100" lines="three" select-strategy="classic">
          <v-list-subheader>
            <h1 class="text-h4 text-black mb-3">Заказы</h1>
          </v-list-subheader>

          <v-list-item
            v-for="order in orderStore.orders"
            :key="order.productId"
            value="notifications"
          >
            <template v-slot:prepend="{ isActive }">

              <v-list-item-action start>
                <v-checkbox-btn
                  :model-value="order.isDone"
                  @change="markDone(order)"
                ></v-checkbox-btn>
              </v-list-item-action>
            </template>

            <v-list-item-title>{{ order.personName }}</v-list-item-title>

            <v-list-item-subtitle>
              {{ order.personPhone }}
            </v-list-item-subtitle>

            <v-list-item-action class="mt-5">
              <v-spacer></v-spacer>
              <v-btn
                class="px-5"
                color="primary"
                variant="flat"
                rounded
                :to="'/product/' + order.productId"
              >
                Открыть
              </v-btn>
            </v-list-item-action>
          </v-list-item>

        </v-list>
      </v-col>
    </v-row>
    <v-row
      v-else
      class="pt-5">
        <v-col class="d-flex justify-center">
          <h1 class="text-h3 text-black mb-3">У вас нет никаких заказов</h1>
        </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

import { useOrderStore } from '@/store/orders';
import { useCommonStore } from '@/store/common';

import { IOrderWithId } from '@/store/orders.interfaces';

const orderStore = useOrderStore();
const commonStore = useCommonStore();

orderStore.fetchOrders();

const markDone = (order: IOrderWithId) => {
  orderStore.markOrderDone(order);
};

</script>
