<template>
  <div v-if="!commonStore.loading">
    <v-container fluid>

      <v-carousel
        class="d-none d-sm-block"
        :autoplay="true"
        :interval="5000"
        cycle
      >
        <v-carousel-item
          v-for="item in carpuselItems"
          :key="item.id"
          :src="item.imagePath"
          cover
        >
        </v-carousel-item>
      </v-carousel>

      <v-carousel
        class="d-block d-sm-none"
        :show-arrows="false"
        hide-delimiter-background
        :autoplay="true"
        :interval="5000"
        cycle
      >
        <v-carousel-item
          v-for="product in productStore.products.slice(0, 5)"
          :key="product.id"
          :src="product.imagePath"
        >
        </v-carousel-item>
      </v-carousel>
    </v-container>

    <v-container>

      <h1 class="text-h4 text-md-h3 font-weight-medium py-8 pl-4">Мои продукты</h1>

      <v-row>
        <v-col
          v-for="product in productStore.products"
          :key="product.id"
            cols="12"
            sm="12"
            md="6"
            lg="4"
            xl="3"
        >
          <v-card
            class="product-card d-flex justify-space-between flex-column h-100"
          >
            <div class="flex-grow-1 flex-shrink-1 flex-basis-auto">
              <router-link
                :aria-label="product.title"
                :to="'/product/' + product.id"
              >
                <v-img
                  class="product-card__img"
                  :src="product.imagePath"
                  height="350px"
                  cover
                ></v-img>
              </router-link>

              <v-card-title>
                <h2 class="text-h4 text-wrap">{{ product.title }}</h2>
              </v-card-title>

              <v-card-subtitle>
                {{ product.description }}
              </v-card-subtitle>

              <v-card-text>
                <v-badge
                  color="info"
                  :content="`От ${product.price} &#8381;`"
                  inline
                ></v-badge>
              </v-card-text>
            </div>

            <div>
              <v-card-actions class="d-flex justify-space-between mt-5 mb-3">
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="6"
                    lg="6"
                    xl="6"
                  >
                    <v-btn
                      class="w-100 px-5 text-white"
                      color="blue-lighten-3"
                      variant="flat"
                      rounded
                      :to="'/product/' + product.id"
                      >
                      Подробнее
                      <v-icon
                        end
                        icon="mdi-open-in-new"
                      ></v-icon>
                    </v-btn>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="12"
                    md="6"
                    lg="6"
                    xl="6"
                  >
                    <MakeOrderDialog
                      class="pl-2"
                      :product="product"
                    />
                  </v-col>
                </v-row>

              </v-card-actions>
            </div>

          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <div v-else>
    <v-container>
      <v-row class="pt-5">
        <v-col class="d-flex justify-center">
          <v-progress-circular
            :size="100"
            :width="7"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts" setup>
import MakeOrderDialog from '@/components/products/MakeOrderDialog.vue'

import { ref } from 'vue';
import { useProductStore } from '@/store/products';
import { useCommonStore } from '@/store/common';

const productStore = useProductStore();
const commonStore = useCommonStore();

const carpuselItems = ref([
  {
    id: 1,
    imagePath: '/img/banner1.jpg'
  },
  {
    id: 2,
    imagePath: '/img/banner2.jpg'
  },
  {
    id: 3,
    imagePath: '/img/banner3.jpg'
  }
]);

</script>
