<template>
  <div class="header">
    <v-navigation-drawer app temporary v-model="sideNav">
      <v-list>
        <v-list-item
          v-for="link in navLinks"
          :key="link.title"
          :to="link.url"
          :value="link.title"
          active-color="primary"
        >
          <template v-slot:prepend>
            <v-icon :icon="link.icon"></v-icon>
          </template>

          <v-list-item-title v-text="link.title"></v-list-item-title>
        </v-list-item>

        <v-list-item
          v-if="userStore.isUserLoggedIn()"
          active-color="primary"
          @click="onLogout"
        >
          <template v-slot:prepend>
            <v-icon icon="mdi-logout"></v-icon>
          </template>

          <v-list-item-title v-text="'Выйти'"></v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app dark color="blue-lighten-4">
      <v-app-bar-nav-icon
        @click.stop="sideNav = !sideNav"
        class="hidden-lg-and-up"
      ></v-app-bar-nav-icon>

      <router-link
        class="header__title text-h5"
        to="/"
      >
        SMM Елизавета
      </router-link>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-md-and-down">
        <v-btn
          variant="plain"
          v-for="link in navLinks"
          :key="link.title"
          :to="link.url"
          >
        <v-icon class="pr-3" start>{{ link.icon }}</v-icon>
          {{ link.title }}
        </v-btn>
        <v-btn
          v-if="userStore.isUserLoggedIn()"
          @click="onLogout"
        >
          <v-icon start icon="mdi-logout"></v-icon>
          Выйти
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';

import { useUserStore } from '@/store/user';

const userStore = useUserStore();

const router = useRouter();

const sideNav = ref(false);

const navLinks = computed(() => {
  if (userStore.isUserLoggedIn()) {
    return [
      {
        title: 'Заявки на услугу',
        icon: 'mdi-cart',
        url: '/checkout'
      },
      {
        title: 'Добавить продукт',
        icon: 'mdi-plus',
        url: '/new'
      },
      {
        title: 'Настроить продукты',
        icon: 'mdi-format-list-bulleted',
        url: '/list'
      },
    ]
  }
  return [
    {
      title: 'Войти',
      icon: 'mdi-login',
      url: '/login'
    },
  ]
});

const onLogout = () => {
  userStore.logoutUser();
  router.push('/');
}

</script>

<style scoped>
.header__title {
  text-decoration: none;
  color: #ffff;
  padding: 10px 15px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
</style>
