<template>
  <router-view></router-view>
</template>

<script setup lang="ts">
import { getAuth, onAuthStateChanged } from "firebase/auth";
import { useUserStore } from '@/store/user';
import { useProductStore } from '@/store/products';

const userStore = useUserStore();
const productStore = useProductStore();

productStore.fetchProducts();

const auth = getAuth();
onAuthStateChanged(auth, (user) => {
  if (user) {
    userStore.autoLoginUser(user.uid);
  }
});

</script>
