<template>
  <v-container class="d-flex justify-center">
    <v-card :class="width < 960 ? 'w-100' : 'w-50'">
      <v-toolbar color="blue-accent-2 mb-5">
        <v-toolbar-title>Зарегистрироваться</v-toolbar-title>
      </v-toolbar>

      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            type="email"
            variant="underlined"
            required
            prepend-icon="mdi-account"
          >
          </v-text-field>

          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            type="text"
            counter="16"
            variant="underlined"
            required
            prepend-icon="mdi-lock"
          >
          </v-text-field>

          <v-text-field
            v-model="passwordRepeat"
            :rules="repeatPasswordRules"
            label="Confirm Password"
            type="text"
            counter="16"
            variant="underlined"
            required
            prepend-icon="mdi-lock"
          >
          </v-text-field>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="flat"
          color="success"
          class="mr-4"
          :disabled="!valid || commonStore.loading"
          :loading="commonStore.loading"
          @click="submitForm"
        >Создать аккаунт</v-btn>
      </v-card-actions>

    </v-card>
  </v-container>
</template>

<script>
import { ref } from 'vue';
import { useUserStore } from '@/store/user';
import { useCommonStore } from '@/store/common';

import { useDisplay } from 'vuetify';

export default {
  setup() {
    const userStore = useUserStore();
    const commonStore = useCommonStore();
    const { width } = useDisplay();

    return {
      userStore, commonStore, width
    }
  },
  data: () => ({
    valid: false,
    email: '',
    password: '',
    passwordRepeat: '',

    emailRules: [
      v => !!v || 'E-mail is required',
      v => /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()\\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid',
    ],
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Password must have 8+ characters',
      v => /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/.test(v) || 'Password must contain at least lowercase letter, one number, a special character and one uppercase letter',
    ],
  }),
  methods: {
    submitForm() {
      if (this.$refs.form.validate()) {
        const user = {
          email: this.email,
          password: this.password
        }
        this.userStore.registerUser(user);
      }
    },
  },
  computed: {
    repeatPasswordRules() {
      return [
        (v) => !!v || 'Senha não informada',
        (v) => (v && v.length >= 8) || 'A senha deve ter no mínimo 8 caracteres',
        (v) => (v === this.password) || 'Senhas diferentes!',
      ];
    },
  },
}
</script>
