<template>
  <TheHeader />
  <template v-if="commonStore.error">
    <v-snackbar
      v-model="isAlwaysTrue"
      :timeout="2000"
      @click="closeError"
    >{{ commonStore.error }}
    <template v-slot:actions>
      <v-btn
        color="pink"
        variant="text"
        @click="closeError"
      >
        Закрыть
      </v-btn>
    </template>
  </v-snackbar>
  </template>
  <v-main>
    <router-view />
  </v-main>
  <!-- <TheFooter /> -->
</template>

<script lang="ts" setup>
import TheHeader from '@/components/TheHeader.vue'
// import TheFooter from '@/components/TheFooter.vue'

import { ref } from 'vue';

import { useCommonStore } from '@/store/common';

const commonStore = useCommonStore();

const isAlwaysTrue = ref(true);

const closeError = () => {
  commonStore.clearError();
}

</script>
